<x-page data-title="<%= title %>" data-csrf="<%- req.csrfToken() %>">
    <%  if (req.errors && req.errors.length) { %>
        <%- include('widgets/show-errors', {errors: req.errors}) %>
    <%  } %>
    <div class="h-full flex">
        <%- include('widgets/thin-pagemenu') %>

      <!-- Content area -->
      <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Main content -->
        <div class="flex-1 flex items-stretch overflow-hidden">
          <main class="flex-1 overflow-y-auto">
            <!-- Primary column -->
            <section aria-labelledby="primary-heading" class="min-w-0 flex-1 h-full flex flex-col lg:order-last">
                <%- body %>
            </section>
          </main>

          <!-- Secondary column (hidden on smaller screens) -->
          <aside class="hidden w-72 bg-white border-l border-gray-200 overflow-y-auto md:block">
            <!-- Your content -->
          </aside>
        </div>
      </div>
    </div>
</x-page>
