<%
    const gravatar = require('gravatar');
    const user = loginSession.user;
    const organization = user.organization;

    const urlParams = req.url.split('?')[0].split('/');
    const defaultEnv = organization.currentEnvironment;
    const developmentEnv = organization.environments[0];
    const currentTab = urlParams.length > 3 ? urlParams[3] : defaultEnv;
    const inDevelopmentEnv = organization.environments.indexOf(currentTab) == 0;
    const inProdEnv = organization.environments.indexOf(currentTab) == organization.environments.length-1;
    const higherEnv = !inProdEnv ? organization.environments[organization.environments.indexOf(currentTab)+1] : null;
    const noVersions = packageLists[developmentEnv].length == 0;
%>
<x-page data-csrf="<%- req.csrfToken() %>">
  <nav>
      <%- include('widgets/navbar', {title}) %>
  </nav>
  <div class="bg-flatblue">
    <div class="max-w-7xl mx-auto py-8 px-4 sm:py-8 sm:px-6 lg:px-8 lg:flex lg:justify-between">
      <div class="w-full">
        <h2 class="text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl"><%=product.name%></h2>
        <div class="flex mt-5">
            <div>
                <h2 class="text-gray-400">PRODUCT DESCRIPTION</h2>
                <p class="mt-1 text-xl text-white"><%=product.description%></p>
            </div>
            <div class="ml-16">
                <h2 class="text-gray-400">STATES</h2>
                <p class="mt-1 text-xl text-white"><%=product.states && product.states.join(', ')%></p>
            </div>
        </div>
      </div>
    </div>

    <div class="w-full flex justify-end">
        <div class="my-2 mx-6">
            <button type="button" data-action="toggleModal" data-target="#product-details" class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-extrabold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Edit Details</button>
        </div>
    </div>
  </div>

  <%  if (req.errors && req.errors.length) { %>
    <%- include('widgets/show-errors', {errors: req.errors}) %>
  <%  } %>  

  <div class="max-w-7xl mx-auto py-1 px-4 sm:py-2 sm:px-6 lg:px-8 lg:flex lg:justify-between">
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
      <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
        <% for (const env of organization.environments) {%>
        <option data-action="#/product/<%=product.id%>/<%=env%>"<%= env == currentTab ? ' selected' : ''%>><%=env%></option>
        <%}%>
      </select>
    </div>
  <%
      function renderLink(env) {
          const packageCount = packageLists[env].length;

          if (currentTab == env) {
              return `
              <a href="#/product/${product.id}/${env}" class="border-indigo-500 text-indigo-600 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
                ${env}

                <span class="bg-indigo-100 text-indigo-600 hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">${packageCount}</span>
              </a>
              `;
          } else {
              return `
              <a href="#/product/${product.id}/${env}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm">
                  ${env}

                <span class="bg-gray-100 text-gray-900 hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">${packageCount}</span>
              </a>`;
          }
      }
  %>
    <div class="hidden sm:block w-full">
      <div class="border-b border-gray-200 mx-6 w-full">
        <nav class="-mb-px w-full flex items-center justify-center space-x-8 " aria-label="Tabs">
          <div class="flex-grow">&nbsp;</div>
          <div class="relative mr-6 my-2">
            <input type="search" data-searchtarget="#products tr" class="bg-purple-white shadow rounded border-0 p-3" placeholder="Filter">
            <div class="absolute top-1 right-3 mt-3 mr-4 text-purple-lighter">
                <svg version="1.1" class="h-4 text-dark" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 52.966 52.966" style="enable-background:new 0 0 52.966 52.966;" xml:space="preserve">
                    <path d="M51.704,51.273L36.845,35.82c3.79-3.801,6.138-9.041,6.138-14.82c0-11.58-9.42-21-21-21s-21,9.42-21,21s9.42,21,21,21
                      c5.083,0,9.748-1.817,13.384-4.832l14.895,15.491c0.196,0.205,0.458,0.307,0.721,0.307c0.25,0,0.499-0.093,0.693-0.279
                      C52.074,52.304,52.086,51.671,51.704,51.273z M21.983,40c-10.477,0-19-8.523-19-19s8.523-19,19-19s19,8.523,19,19
                      S32.459,40,21.983,40z"/>
                </svg>
            </div>
          </div>
  <% if (inDevelopmentEnv && !noVersions) { %>
          <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
            <button type="button" data-action="toggleModal" data-target="#new-version" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
              <!-- Heroicon name: solid/plus -->
              <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
              </svg>
              New Version
            </button>
          </div>
  <% } %>
        </nav>
      </div>
    </div>
  </div>

  <% if (noVersions) { %>
  <div class="text-center">
    <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
      <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
    </svg>
    <h3 class="mt-2 text-sm font-medium text-gray-900">No versions</h3>
    <p class="mt-1 text-sm text-gray-500">Get started by creating your first product version.</p>
    <div class="mt-6">
      <button data-action="toggleModal" data-target="#new-version" type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <!-- Heroicon name: solid/plus -->
        <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
        </svg>
        New Version
      </button>
    </div>
  </div>
  <% } else { %>
      <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="max-w-7xl mx-auto py-1 px-4 sm:py-2 sm:px-6 lg:px-8 mt-8 flex flex-col">
          <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block py-2 align-middle md:px-6 lg:px-8">

  <%
         for (const package of packageLists[currentTab]) {
            const developmentDirty = !package.status.development.versionId.equals(package.status.staging.versionId);
            const inStaging = !!package.status.staging.versionId;
            const stagingDirty = package.status.staging.versionId && !package.status.staging.versionId.equals(package.status.production.versionId);
            const inProduction = !!package.status.production.versionId;

            console.log(package.status);
  %>

<div class="w-full overflow-hidden rounded-lg bg-gray-200 p-4 mb-6">
  <x-hbox class="w-full space-between">
    <h2 class="whitespace-nowrap py-4 text-xl font-medium">Version effective <x-date><%= 
      package.effectiveDate %></x-date></h2>
  <%        if (!inProduction) { %>
    <x-button data-action="confirmDeletePackage('<%=package.packageId%>', '<%= 
      package.effectiveDate %>')" class="round"><x-svg src="svg/trash.svg"></x-svg></x-button>
  <%
            } else {%>
    <x-button title="production versions cannot be deleted" class="disabled round"><x-svg src="svg/trash.svg"></x-svg></x-button>
  <%          }%>
  </x-hbox>
  <x-hbox class="flex flex-wrap">
    <div class="mb-3 h-56 w-80 col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
          <h2 class="text-center text-2xl w-full p-2 font-medium development-bg text-blue-800"> development </h2>
      <x-vbox class="w-full p-2">
        <span class="whitespace-nowrap text-sm text-gray-500">Last updated <x-date data-datestyle="short"><%= package.versionInfo.saveTs %></x-date></span>

        <ul class="flex max-w-xs flex-wrap justify-between">
          <li class="w-36 mt-1"><x-button data-action="?mode=view#/package/<%=package.packageId%>" class="action w-24 text-xl" title="view"><x-svg src="svg/open.svg"></x-svg> view</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="?mode=test#/package/<%=package.packageId%>" class="action w-24 text-xl" title="test"><x-svg src="svg/test.svg"></x-svg> test</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="?mode=edit#/package/<%=package.packageId%>" class="action w-24 text-xl" title="edit"><x-svg src="svg/edit.svg"></x-svg> edit</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="deployPackage('<%= package.packageId %>', 'development')" class="<%= developmentDirty && package.undefinedTerms.size <= 0 ? '': 'disabled ' %>action w-24 text-xl" title="deploy"><x-svg src="svg/deploy.svg"></x-svg> deploy</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="clonePackage('<%= package.packageId %>', 'development', '<%= package.effectiveDate %>')" class="action w-24 text-xl" title="clone"><x-svg src="svg/clone.svg"></x-svg> clone</x-button></li>
        </ul><%
            if (package.undefinedTerms.size > 0) { %>
        <span class="text-red-500"><%= package.undefinedTerms.size %> undefined term<%= package.undefinedTerms.size > 1 ? 's' : '' %></span>
  <%        } else if (developmentDirty) { %>
        <x-hbox class="text-red-500 middle"><x-svg class="pt-1" style="stroke: #f00" src="svg/alert.svg"></x-svg>&nbsp;undeployed changes</x-hbox>
  <%        } %>
      </x-vbox>
    </div>

    <x-svg class="h-20 w-20" style="fill: #fff" src="svg/deploy.svg"></x-svg>
    <div class="h-56 w-80 col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow<%= inStaging ? '' : ' inactive'%>">
          <h2 class="text-center text-2xl w-full p-2 font-medium staging-bg text-yellow-800"> staging </h2>
      <x-vbox class="w-full p-2"><%
        if (inStaging) { %>
        <span class="whitespace-nowrap text-sm text-gray-500">Last deployed <x-date data-datestyle="short"><%=package.status.staging.versionInfo.deployTs%></x-date></span>
        <ul class="flex max-w-xs flex-wrap justify-between">
          <li class="w-36 mt-1"><x-button data-action="?mode=view&env=staging#/package/<%=package.packageId%>" class="action w-24 text-xl" title="view"><x-svg src="svg/open.svg"></x-svg> view</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="?mode=test&env=staging#/package/<%=package.packageId%>" class="action w-24 text-xl" title="test"><x-svg src="svg/test.svg"></x-svg> test</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="clonePackage('<%= package.packageId %>', 'staging', '<%= package.effectiveDate %>')" class="action w-24 text-xl" title="clone"><x-svg src="svg/clone.svg"></x-svg> clone</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="deployPackage('<%= package.packageId %>', 'staging')" class="<%= stagingDirty ? '': 'disabled ' %>action w-24 text-xl" title="deploy"><x-svg src="svg/deploy.svg"></x-svg> deploy</x-button></li>
        </ul>
<%      } else { %>
        <p class="pt-16 text-center">no deployments</p>
<%      } %>
      </x-vbox>
    </div>

    <x-svg class="h-20 w-20" style="fill: #fff" src="svg/deploy.svg"></x-svg>

    <div class="h-56 w-80 col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow<%= inProduction ? '' : ' inactive'%>">
          <h2 class="text-center text-2xl w-full p-2 font-medium production-bg text-green-800"> production </h2>
      <x-vbox class="w-full p-2"><%
        if (inProduction) { %>
        <span class="whitespace-nowrap text-sm text-gray-500">Last deployed <x-date data-datestyle="short"><%= package.status.production.versionInfo.deployTs %></x-date></span>
        <ul class="flex max-w-xs flex-wrap justify-between">
          <li class="w-36 mt-1"><x-button data-action="?mode=view&env=production#/package/<%=package.packageId%>" class="action w-24 text-xl" title="view"><x-svg src="svg/open.svg"></x-svg> view</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="?mode=test&env=production#/package/<%=package.packageId%>" class="action w-24 text-xl" title="test"><x-svg src="svg/test.svg"></x-svg> test</x-button></li>
          <li class="w-36 mt-1"><x-button data-action="clonePackage('<%= package.packageId %>', 'production', '<%= package.effectiveDate %>')" class="action w-24 text-xl" title="clone"><x-svg src="svg/clone.svg"></x-svg> clone</x-button></li>
        </ul>
<%      } else { %>
        <p class="pt-16 text-center">no deployments</p>
<%      } %>
      </x-vbox>
    </div>
  </x-hbox>
</div>
<%    } %>
    </div>
  </div>
</div>
<%    } %>

  <div data-action="hideModal" data-modalin="translate-x-0" data-modalout="translate-x-full" id="product-details" class="translate-x-full transform transition ease-in-out duration-300 fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="absolute inset-0 overflow-hidden">
      <!-- Background overlay, show/hide based on slide-over state. -->
      <div class="absolute inset-0" aria-hidden="true"></div>

      <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
        <!--
          Slide-over panel, show/hide based on slide-over state.

          Entering: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-full"
            To: "translate-x-0"
          Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
            From: "translate-x-0"
            To: "translate-x-full"
        -->
        <div data-action="" class="pointer-events-auto w-screen max-w-md">
          <form class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl" action="#/product/<%=product.id%>" method="POST">
            <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
            <input type="hidden" name="serviceAction" value="updateProduct"/>
            <input type="hidden" name="productId" value="<%=product.id%>"/>
            <div class="h-0 flex-1 overflow-y-auto">
              <div class="bg-flatblue py-6 px-4 sm:px-6">
                <div class="flex items-center justify-between">
                  <h2 class="text-lg font-medium text-white" id="slide-over-title">Product Details</h2>
                  <div class="ml-3 flex h-7 items-center">
                    <button type="button" class="rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                      <span class="sr-only">Close panel</span>
                      <!-- Heroicon name: outline/x -->
                      <svg data-action="hideModal" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="mt-1">
                  <p class="text-sm text-indigo-300">Update product details then click Save below.</p>
                </div>
              </div>
              <div class="flex flex-1 flex-col justify-between">
                <div class="divide-y divide-gray-200 px-4 sm:px-6">
                  <div class="space-y-6 pt-6 pb-5">
                    <div>
                      <label for="product-name" class="block text-sm font-medium text-gray-900">Product name</label>
                      <div class="mt-1">
                        <input type="text" name="productName" id="product-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" value="<%= product.name %>" required autofocus>
                      </div>
                    </div>
                    <div>
                      <label for="description" class="block text-sm font-medium text-gray-900"> Description </label>
                      <div class="mt-1">
                        <textarea id="description" name="description" rows="4" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><%= product.description %></textarea>
                      </div>
                    </div>
                    <div>
                      <label for="states" class="block text-sm font-medium text-gray-900" inline-flex items-center> States <x-help></x-help>
                      </label>
                      <div class="mt-1">
                          <x-multicheck id="states"><%
                                  const ss = new Set(product.states);

                                  for (const state in product.organization.validStateCodes) {%>
                              <label <% if (ss.has(state)) {%>class="checked"<%}%> title="<%=product.organization.validStateCodes[state]%>"><input class="hidden" type="checkbox" name="states" value="<%=state%>" <% if (ss.has(state)) {%>checked<%}%>/><%=state%></label>
                          <%}%>
                          </x-multicheck>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-shrink-0 justify-end px-4 py-4">
              <button data-action="hideModal" type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
              <button type="submit" class="ml-4 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <%# begin create new version modal %>
  <div data-modalin="opacity-100 pointer-events-auto" data-modalout="opacity-0 pointer-events-none" id="new-version" class="opacity-0 pointer-events-none relative z-10 transition ease-in-out duration-100" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div data-action="hideModal" class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <form data-action="" class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6"
              action="#/product/<%=product.id%>/<%=developmentEnv%>" method="POST">
              <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
              <input type="hidden" name="serviceAction" value="createPackage"/>
              <input type="hidden" name="productId" value="<%=product.id%>"/>
          <div>
            <div class="mt-3 text-center sm:mt-5">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Create new product version</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">Choose the effective date for the new version then click Create.</p>
              </div>
            </div>
          </div>
          <div>
            <label for="effectiveDate" class="block text-sm font-medium text-gray-700">Effective Date</label>
            <div class="mt-1 ml-6">
              <input type="date" name="effectiveDate" id="effectiveDate" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md" required>
            </div>
          </div>
          <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
            <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm">Create</button>
            <button data-action="hideModal" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%# end create new version modal %>

  <%# begin clone version modal %>
  <div data-modalin="opacity-100 pointer-events-auto" data-modalout="opacity-0 pointer-events-none" id="cloneVersionModal" class="opacity-0 pointer-events-none relative z-10 transition ease-in-out duration-100" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div data-action="hideModal" class="fixed z-10 inset-0 overflow-y-auto">
      <div class="flex items-end sm:items-center justify-center min-h-full p-4 text-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <form name="cloneVersion" data-action="" class="relative bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-lg sm:w-full sm:p-6"
              action="#/product/<%=product.id%>/<%=developmentEnv%>" method="POST">
              <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
              <input type="hidden" name="serviceAction" value="clonePackage"/>
              <input type="hidden" name="productId" value="<%=product.id%>"/>
              <input type="hidden" name="packageId"/>
              <input type="hidden" name="fromEnvironment"/>
          <div>
            <div class="mt-3 text-center sm:mt-5">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">Clone a product version</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">Choose the effective date for the new version then click Create. The new version will be populated from the <span class="environment"></span> version effective <span class="effectiveDate whitespace-nowrap"></span>.</p>
              </div>
            </div>
          </div>
          <div class="mt-3">
            <label for="effectiveDate" class="block text-sm font-medium text-gray-700">Effective Date</label>
            <div class="mt-1 ml-6">
              <input type="date" name="effectiveDate" id="effectiveDate" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block sm:text-sm border-gray-300 rounded-md" required>
            </div>
          </div>
          <div class="mt-5 sm:mt-6 sm:grid sm:grid-cols-2 sm:gap-3 sm:grid-flow-row-dense">
            <button type="submit" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:col-start-2 sm:text-sm">Create</button>
            <button data-action="hideModal" type="button" class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:col-start-1 sm:text-sm">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%# end clone new version modal %>

  <%# begin confirm delete modal %>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div id="confirmPackageDelete" data-modalin="opacity-100 pointer-events-auto" data-modalout="opacity-0 pointer-events-none" class="opacity-0 pointer-events-none relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <!--
      Background backdrop, show/hide based on modal state.

      Entering: "ease-out duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in duration-200"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto">
      <div data-action="hideModal" class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <!--
          Modal panel, show/hide based on modal state.

          Entering: "ease-out duration-300"
            From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
            To: "opacity-100 translate-y-0 sm:scale-100"
          Leaving: "ease-in duration-200"
            From: "opacity-100 translate-y-0 sm:scale-100"
            To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        -->
        <div data-action="" class="relative transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
          <div>
            <div class="mx-auto flex h-12 w-12 items-center justify-center rounded-full bg-green-100">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-5">
              <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Confirm Package Deletion</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">This will permanently delete the package effective <span class="effectiveDate whitespace-nowrap"></span> and all of its version history. Click delete below to confirm.</p>
              </div>
            </div>
          </div>
          <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
            <button data-action="deletePackage" type="button" class="inline-flex w-full justify-center rounded-md border border-transparent bg-red-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-delete-700 focus:outline-none focus:ring-2 focus:ring-delete-500 focus:ring-offset-2 sm:col-start-2 sm:text-sm">Delete</button>
            <button data-action="hideModal" type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:col-start-1 sm:mt-0 sm:text-sm">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# end confirm delete modal %>  
</x-page>