<%
    const gravatar = require('gravatar');
    const user = loginSession.user;
    const organization = user.organization;

    const urlParams = req.url.split('/');
    const defaultEnv = organization.currentEnvironment;
    const currentTab = urlParams.length > 3 ? urlParams[3] : defaultEnv;
    console.log(currentTab, urlParams);
    console.log(packageLists);
%>
<nav>
    <%- include('widgets/navbar', {title}) %>
</nav>
<div class="bg-flatblue">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:py-8 sm:px-6 lg:px-8 lg:flex lg:justify-between">
    <div class="w-full">
      <h2 class="text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl"><%=product.name%></h2>
      <div class="flex mt-5">
          <div>
              <h2 class="text-gray-400">PRODUCT DESCRIPTION</h2>
              <p class="mt-1 text-xl text-white"><%=product.description%></p>
          </div>
          <div class="ml-16">
              <h2 class="text-gray-400">STATES</h2>
              <p class="mt-1 text-xl text-white"><%=product.states && product.states.join(', ')%></p>
          </div>
      </div>
    </div>
  </div>
  <div class="w-full flex justify-end">
      <div class="my-2 mx-6">
          <button type="button" data-action="toggleModal" data-target="#product-details" class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-extrabold rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Edit Details</button>
      </div>
  </div>
</div>

<div class="max-w-7xl mx-auto py-1 px-4 sm:py-2 sm:px-6 lg:px-8 lg:flex lg:justify-between">
  <div class="sm:hidden">
    <label for="tabs" class="sr-only">Select a tab</label>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <select id="tabs" name="tabs" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
      <option selected>Development</option>

      <option>Staging</option>

      <option>Production</option>
    </select>
  </div>
<%
    function renderLink(env) {
        const packageCount = packageLists[env].length;

        if (currentTab == env) {
            return `
            <a href="#/product/${product.id}/${env}" class="border-indigo-500 text-indigo-600 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">
              ${env}

              <span class="bg-indigo-100 text-indigo-600 hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">${packageCount}</span>
            </a>
            `;
        } else {
            return `
            <a href="#/product/${product.id}/${env}" class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200 whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm">
                ${env}

              <span class="bg-gray-100 text-gray-900 hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">${packageCount}</span>
            </a>`;
        }
    }
%>
  <div class="hidden sm:block">
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex space-x-8" aria-label="Tabs">
        <% for (const env of organization.environments) {%>
            <%- renderLink(env) %>
        <%}%>
      </nav>
    </div>
  </div>
</div>

<div data-action="hideModal" data-modalin="translate-x-0" data-modalout="translate-x-full" id="product-details" class="translate-x-full transform transition ease-in-out duration-300 fixed inset-0 overflow-hidden" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
  <div class="absolute inset-0 overflow-hidden">
    <!-- Background overlay, show/hide based on slide-over state. -->
    <div class="absolute inset-0" aria-hidden="true"></div>

    <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
      <!--
        Slide-over panel, show/hide based on slide-over state.

        Entering: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-full"
          To: "translate-x-0"
        Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
          From: "translate-x-0"
          To: "translate-x-full"
      -->
      <div data-action="" class="pointer-events-auto w-screen max-w-md">
        <form class="flex h-full flex-col divide-y divide-gray-200 bg-white shadow-xl" action="#/product/<%=product.id%>" method="POST">
          <input type="hidden" name="_csrf" value="<%= req.csrfToken() %>"/>
          <input type="hidden" name="serviceAction" value="updateProduct"/>
          <input type="hidden" name="productId" value="<%=product.id%>"/>
          <div class="h-0 flex-1 overflow-y-auto">
            <div class="bg-flatblue py-6 px-4 sm:px-6">
              <div class="flex items-center justify-between">
                <h2 class="text-lg font-medium text-white" id="slide-over-title">Product Details</h2>
                <div class="ml-3 flex h-7 items-center">
                  <button type="button" class="rounded-md bg-indigo-700 text-indigo-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-white">
                    <span class="sr-only">Close panel</span>
                    <!-- Heroicon name: outline/x -->
                    <svg data-action="hideModal" class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="mt-1">
                <p class="text-sm text-indigo-300">Update product details then click Save below.</p>
              </div>
            </div>
            <div class="flex flex-1 flex-col justify-between">
              <div class="divide-y divide-gray-200 px-4 sm:px-6">
                <div class="space-y-6 pt-6 pb-5">
                  <div>
                    <label for="product-name" class="block text-sm font-medium text-gray-900">Product name</label>
                    <div class="mt-1">
                      <input type="text" name="productName" id="product-name" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" value="<%= product.name %>" required autofocus>
                    </div>
                  </div>
                  <div>
                    <label for="description" class="block text-sm font-medium text-gray-900"> Description </label>
                    <div class="mt-1">
                      <textarea id="description" name="description" rows="4" class="block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"><%= product.description %></textarea>
                    </div>
                  </div>
                  <div>
                    <label for="states" class="block text-sm font-medium text-gray-900" inline-flex items-center> States
                      <a href="#" class="inline text-gray-500 hover:text-gray-900">
                        <!-- Heroicon name: solid/question-mark-circle -->
                        <svg class="inline h-5 w-5 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                      </a>
                    </label>
                    <div class="mt-1">
                        <x-multicheck id="states"><%
                                const ss = new Set(product.states);

                                for (const state in product.organization.validStateCodes) {%>
                            <label <% if (ss.has(state)) {%>class="checked"<%}%> title="<%=product.organization.validStateCodes[state]%>"><input class="hidden" type="checkbox" name="states" value="<%=state%>" <% if (ss.has(state)) {%>checked<%}%>/><%=state%></label>
                        <%}%>
                        </x-multicheck>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex flex-shrink-0 justify-end px-4 py-4">
            <button data-action="hideModal" type="button" class="rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Cancel</button>
            <button type="submit" class="ml-4 inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
