<style>
    #saveButton, #cancelButton {
        pointer-events: none;
        filter: grayscale(80%);
    }

    .dirty #saveButton,
    .dirty #cancelButton {
        pointer-events: inherit;
        filter: inherit;
    }
</style>
<!-- This example requires Tailwind CSS v2.0+ -->
<script data-widgetid="update_package" id="packageJson">
    () => { return <%- JSON.stringify(pkg.json) %>; }
</script>
<nav data-widgetid="package_home" class="bg-white border-b border-gray-200 flex" aria-label="Breadcrumb">
  <ol role="list" class="max-w-screen-xl w-full mx-auto px-4 flex flex-wrap space-x-4 sm:px-6 lg:px-8">
    <li class="flex">
      <div class="flex items-center">
        <a href="<%- breadCrumbTrail[0].url %>" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">
            <x-svg src="<%= breadCrumbTrail[0].icon %>"></x-svg>
            <%= breadCrumbTrail[0].label %>
        </a>
      </div>
    </li>

    <%  for (let i = 1; i < breadCrumbTrail.length-1; i++) { %>
    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
        <a href="<%- breadCrumbTrail[i].url %>" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">
            <x-svg src="<%= breadCrumbTrail[i].icon %>"></x-svg>
            <%= breadCrumbTrail[i].label %>
        </a>
      </div>
    </li>
    <%  }

        if (breadCrumbTrail.length > 1) {
            const i = breadCrumbTrail.length - 1;
    %>
    <li class="flex">
      <div class="flex items-center">
        <svg class="flex-shrink-0 w-6 h-full text-gray-200" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
          <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
        </svg>
            <x-svg src="<%= breadCrumbTrail[i].icon %>"></x-svg>
            <%= breadCrumbTrail[i].label %>
      </div>
    </li>
<%  } %>
  </ol>
</nav>

<%
    if (pkg.undefinedTerms.size  > 0) {
        sidebar.push(include('undefinedterms.ejs'));
    }
    if (focusTerm) {
        sidebar.push(include('testform.ejs'));
        sidebar.push(include('termlist.ejs'));
%>
<%- include(`${focusTerm.termTypeName}-editor.ejs`) %>
<% } else { %>
<%- include('package-editor.ejs') %>
<% } %>
