<div class="hidden" data-widgetid="expression_editor"></div>
<%- include('term-editor-header') %>
<div class="py-4">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
      <label class="block text-sm font-medium text-gray-700">Data Type</label>
      <%- include('data-type-widget', {currentDataType: focusTerm.dataType}) %>
    </div>
</div>
<div class="py-4 w-full">
    <div class="w-full mx-auto px-4 sm:px-6 md:px-8">
        <x-expression id="editor" class="bg-white rounded-md p-1 w-full max-w-5xl" initialvalue="<%= focusTerm.expressionSource %>"></x-expression>
    </div>
</div>
<%- include('terms-grid', {
    title: "Referenced Terms",
    terms: focusTerm.referencedTerms
}) %>
<%- include('new-term-dialog') %>
