<div data-widgetid="term_editor">
  <h1 class="text-1xl font-semibold text-gray-900 flex"><x-term-icon class="flex-shrink-0 w-8 h-8" type="<%- focusTerm.termTypeName %>"></x-term-icon>
      <span class="ml-1 mt-1"><%= focusTerm.name == '_rating' ? 'Rating Algorithm' : focusTerm.name %></span>
    <%#
    <button id="saveButton" disabled type="button" class="inline-flex items-center justify-items-center border border-transparent rounded-full shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        <x-svg style="fill: var(--ok-text); width: 100%;" src="/svg/save.svg"></x-svg>
    </button>
    <button id="cancelButton" disabled type="button" class="inline-flex items-center justify-items-center border border-transparent rounded-full shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        <x-svg style="fill: var(--err-text); width: 100%;" src="/svg/x.svg"></x-svg>
    </button>
    <button id="deleteButton" type="button" class="inline-flex items-center justify-items-center border border-transparent rounded-full shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        <x-svg style="stroke: var(--accent-attention); width: 100%;" src="/svg/trash.svg"></x-svg>
    </button>
    %>
  </h1>
</div>
<div class="max-w-7xl px-4 sm:px-6 md:px-8 flex">
    <div class="py-4">
        <div>
          <label class="block text-sm font-medium text-gray-700">Data Type</label>
          <%- include('data-type-widget', {currentDataType: focusTerm.dataType}) %>
        </div>
    </div>
    <div class="py-4 flex-grow">
        <div class="ml-2 sm:ml-4 md:ml-6">
          <label for="description" class="block text-sm font-medium text-gray-700">Term Description</label>
          <div class="mt-1">
            <input type="text" id="description" disabled class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 p-1 rounded-md" required data-initialvalue="<%= focusTerm.description %>" value="<%= focusTerm.description %>">
          </div>
        </div>
    </div>
</div>
